@import 'tailwindcss';

@theme {
  --breakpoint-widermobile: 400px;
  --breakpoint-maxmobile: 450px;
  --breakpoint-promobile: 500px;
  --breakpoint-ultrapromobile: 560px;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-bigscreentab: 880px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
